<div style="overflow-x:auto" class="service_section layout_padding">
    <ul class="tree vertical">
        <li>
            <div>Products</div>
            <ul>
                <li>
                    <div>Package Material</div>
                    <ul>
                        <li>
                            <div>T1</div>
                            <ul>
                                <li>
                                    <div>node</div>
                                    <ul>
                                        <li>
                                            <div>node</div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div>T2</div>
                            <ul>
                                <li>
                                    <div>node</div>
                                    <ul>
                                        <li>
                                            <div>node</div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div>T3</div>
                            <ul>
                                <li>
                                    <div>node</div>
                                    <ul>
                                        <li>
                                            <div>node</div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- Center -->
                <li>
                    <div>Aroma Chemicals</div>
                    <ul>
                        <li>
                            <div>T1</div>
                            <ul>
                                <li>
                                    <div>node</div>
                                    <ul>
                                        <li>
                                            <div>node</div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div>T2</div>
                            <ul>
                                <li>
                                    <div>node</div>
                                    <ul>
                                        <li>
                                            <div>node</div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div>T3</div>
                            <ul>
                                <li>
                                    <div>node</div>
                                    <ul>
                                        <li>
                                            <div>node</div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <div>Essential Oil</div>
                    <ul>
                        <li>
                            <div>T1</div>
                            <ul>
                                <li>
                                    <div>node</div>
                                    <ul>
                                        <li>
                                            <div>node</div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div>T2</div>
                            <ul>
                                <li>
                                    <div>node</div>
                                    <ul>
                                        <li>
                                            <div>node</div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div>T3</div>
                            <ul>
                                <li>
                                    <div>node</div>
                                    <ul>
                                        <li>
                                            <div>node</div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>