<section class="service_section layout_padding">
  <div class="service_container">
    <div class="container ">
      <div class="heading_container heading_center">
        <h2>
          Our <span style="color: #006600;">Services</span>
        </h2>
        <p>
          We provide tailored solutions with expert management, secure payments, and innovative strategies to drive your
          success.

          We offer a wide range of solutions tailored to meet your unique needs. 
          <!-- From expert management to secure
          payment systems, our services are designed to ensure smooth operations, efficiency, and peace of mind for your
          business. We focus on delivering high-quality results with a commitment to excellence, leveraging cutting-edge
          technologies and industry expertise to drive success. -->

          Explore our services and let us help you achieve your goals with confidence.
        </p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-4">
          <div class="partner-box main-company-item hover-style mh-302">
            <div class="inner-border">
              <div class="icon">
                <img src="../../assets/images/w21.png" alt="" title="" />
              </div>
              <h4> Secure Payments</h4>
              <p>Safe, reliable payment options for a worry-free experience.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-4">
          <div class="partner-box main-company-item hover-style mh-302">
            <div class="inner-border">
              <div class="icon">
                <img src="../../assets/images/w41.png" alt="" title="" />
              </div>
              <h4>Customer Support</h4>
              <p>24/7 support to assist with your questions and concerns.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-4">
          <div class="partner-box main-company-item hover-style mh-302">
            <div class="inner-border">
              <div class="icon">
                <img src="../../assets/images/s21.png" alt="" title="" />
              </div>
              <h4> Premium Selection</h4>
              <p>A wide range of high-quality products tailored for your needs.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-4">
          <div class="partner-box main-company-item hover-style mh-302">
            <div class="inner-border">
              <div class="icon">
                <img src="../../assets/images/w21.png" alt="" title="" />
              </div>
              <h4> Personalized Recommendation</h4>
              <p> Customized suggestions based on your unique preferences.</p>
            </div>
          </div>
        </div>

      </div>
      <!-- <div class="btn-box">
          <a href="">
            View All
          </a>
        </div> -->
    </div>
  </div>
</section>