<div class="hero_area">

    <div class="hero_bg_box">
        <div class="bg_img_box">
            <img src="../../assets/images/project/Untitled.png" alt="">
            <!-- <img src="../../assets/images/hero-bg.png" alt=""> -->
        </div>
    </div>

    <!-- header section strats -->
    <!-- <app-header></app-header> -->
    <!-- end header section -->

    <!-- slider section -->
    <section class="slider_section ">
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="detail-box">
                                    <h1>
                                        Revolutionizing <br>
                                        Digital Shopping
                                    </h1>
                                    <p>
                                        Explore the future of retail with innovative online store solutions, 24/7
                                        availability, and seamless transactions for a smarter shopping experience.
                                    </p>
                                    <div class="btn-box">
                                        <a href="" class="btn1" style="background-color: #00204a;">
                                            Read More
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="img-box">
                                    <img src="../../assets/images/project/banner1.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="detail-box">
                                    <h1>
                                        Empowering <br>
                                        Local Commerce
                                    </h1>
                                    <p>
                                        Bringing buyers and sellers together with trust and efficiency. Discover
                                        personalized shopping with transparent deals and smooth delivery.
                                    </p>
                                    <div class="btn-box">
                                        <a href="" class="btn1" style="background-color: #00204a;">
                                            Read More
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="img-box">
                                    <!-- <img src="../../assets/images/slider-img.png" alt=""> -->
                                    <img src="../../assets/images/project/b2c2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="detail-box">
                                    <h1>
                                        Marketing That <br>
                                        Drives Results
                                    </h1>
                                    <p>
                                        Unlock the power of strategic advertising and data-driven campaigns to reach the
                                        right audience and boost your business growth.
                                    </p>
                                    <div class="btn-box">
                                        <a href="" class="btn1" style="background-color: #00204a;">
                                            Read More
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="img-box">
                                    <img src="../../assets/images/project/b2c1.png" alt="">
                                    <!-- <img src="../../assets/images/slider-img.png" alt=""> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                <li data-target="#customCarousel1" data-slide-to="1"></li>
                <li data-target="#customCarousel1" data-slide-to="2"></li>
            </ol>
        </div>

    </section>
    <!-- end slider section -->
</div>
<!-- <app-projects></app-projects> -->
 <!-- <app-project-tree></app-project-tree> -->
<!--Product Section-->

<!-- <section>
    <div class="body">
        <div class="tree">
            <div class="root">
              <div class="node">Products</div>
              <div class="branches">
                Package Material
                <div class="branch">
                  <div class="node">Package Material</div>
                  <div class="branches">
                    <div class="branch">
                      <div class="node">T1</div>
                    </div>
                    <div class="branch">
                      <div class="node">T2</div>
                    </div>
                    <div class="branch">
                      <div class="node">T3</div>
                    </div>
                  </div>
                </div>
                Aroma Chemicals
                <div class="branch">
                  <div class="node">Aroma Chemicals</div>
                  <div class="branches">
                    <div class="branch">
                      <div class="node">T1</div>
                    </div>
                    <div class="branch">
                      <div class="node">T2</div>
                    </div>
                    <div class="branch">
                      <div class="node">T3</div>
                    </div>
                  </div>
                </div>
                Essential Oils
                <div class="branch">
                  <div class="node">Essential Oils</div>
                  <div class="branches">
                    <div class="branch">
                      <div class="node">T1</div>
                    </div>
                    <div class="branch">
                      <div class="node">T2</div>
                    </div>
                    <div class="branch">
                      <div class="node">T3</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</section> -->


<!-- service section -->

<app-service></app-service>

<!-- end service section -->


<!-- about section -->

<app-about></app-about>

<!-- end about section -->

<!-- why section -->

<app-why></app-why>

<!-- end why section -->

<!-- team section -->
<app-team></app-team>
<!-- end team section -->


<!-- client section -->

<section class="client_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center psudo_white_primary mb_45">
            <h2>
                What says our <span style="color: #006600;">Customers</span>
            </h2>
        </div>
        <!-- <div class="carousel-wrap">
            <div class="owl-carousel client_owl-carousel"> -->
        <div class="">
            <div class="rows">
                <div class="items col-lg-4 col-sm-6">
                    <div class="box">
                        <div class="img-box">
                            <img src="../../assets/images/client1.jpg" alt="" class="box-img">
                        </div>
                        <div class="detail-box">
                            <div class="client_id">
                                <div class="client_info">
                                    <h6>
                                        Alex M
                                    </h6>
                                    <p>
                                        Business Owner
                                    </p>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <p>
                                The team is professional, responsive, and always goes
                                above and beyond to meet my needs. I couldn’t ask for a better experience. </p>
                        </div>
                    </div>
                </div>
                <div class="items col-lg-4 col-sm-6">
                    <div class="box">
                        <div class="img-box">
                            <img src="../../assets/images/client2.jpg" alt="" class="box-img">
                        </div>
                        <div class="detail-box">
                            <div class="client_id">
                                <div class="client_info">
                                    <h6>
                                        Priya S.
                                    </h6>
                                    <p>
                                        Financial Analyst
                                    </p>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <p>
                                Their platform is user-friendly and efficient, making my transactions smooth and
                                hassle-free. I highly recommend them for anyone looking for reliable solutions. </p>
                        </div>
                    </div>
                </div>
                <div class="items col-lg-4 col-sm-6">
                    <div class="box">
                        <div class="img-box">
                            <img src="../../assets/images/client1.jpg" alt="" class="box-img">
                        </div>
                        <div class="detail-box">
                            <div class="client_id">
                                <div class="client_info">
                                    <h6>
                                        James T.
                                    </h6>
                                    <p>
                                        Operations Manager
                                    </p>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <p>
                                What truly sets them apart is their commitment to customer satisfaction. Every
                                interaction has been positive, and their support team is always ready to help. </p>
                        </div>
                    </div>
                </div>
                <div class="items col-lg-4 col-sm-6">
                    <div class="box">
                        <div class="img-box">
                            <img src="../../assets/images/client2.jpg" alt="" class="box-img">
                        </div>
                        <div class="detail-box">
                            <div class="client_id">
                                <div class="client_info">
                                    <h6>
                                        Sofia L.
                                    </h6>
                                    <p>
                                        Entrepreneur
                                    </p>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <p>
                                I’m impressed with the speed and security they offer. It’s rare to find a service that
                                balances both so well. I feel confident and valued as a customer </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end client section -->


<!-- info section -->
<!-- end info section -->


<section id="contact" class="py-3">
    <div class="container">
        <!-- <h2 class="text-center mb-4">Get in Touch</h2> -->
        <div class="heading_container heading_center psudo_white_primary mb_45">
            <h2>
                Get in <span style="color: #006600;">Touch</span>
            </h2>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6">
                <img src="../../assets/images/logo.png" alt="" style="width: 250px; margin-bottom: 10px;">
                <h4>Contact Information</h4>
                <p>If you have any questions, feel free to reach out to us:</p>
                <ul class="list-unstyled">
                    <li><i class="fa-solid fa-envelope fa-lg"></i><a href="mailto:saleschennai@aragency.in" class=""
                            style="margin-left: 10px;">
                            saleschennai&#64;aragency.in</a></li>
                    <li><i class="fa-solid fa-mobile-screen-button fa-lg"></i> <a href="tel:+918220617744" class=""
                            style="margin-left: 10px;"> +91 8220617744</a></li>
                    <li><i class="fa-solid fa-location-dot fa-lg"></i> <span class="hover-effect"
                            style="margin-left: 15px; cursor: pointer;" (click)="openMapwithMarker()">No 18/46,
                            Bharathi Nagar Main Road, Pallavaram, Chennai, Tamil Nadu 600043,
                            India</span></li>
                </ul>
                <h4>Follow Us</h4>
                <ul class="list-inline">
                    <li class="list-inline-item social-icon sIconf">
                        <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-facebook-f fa-lg"></i>
                        </a>
                    </li>
                    <li class="list-inline-item social-icon sIcont">
                        <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-twitter fa-lg"></i>
                        </a>
                    </li>
                    <li class="list-inline-item social-icon sIconi">
                        <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-instagram fa-lg"></i>
                        </a>
                    </li>
                    <li class="list-inline-item social-icon sIconl">
                        <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-linkedin fa-lg"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h4 style="text-align: center;">Contact Form</h4>
                <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

                    <!-- Name Field -->
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input formControlName="name" type="text" class="form-control" id="name" placeholder="Your Name"
                            required />
                        <div *ngIf="f['name'].touched && f['name'].invalid" class="text-danger">
                            <small *ngIf="f['name'].errors?.['required']">Name is required.</small>
                            <small *ngIf="f['name'].errors?.['minlength']">Name must be at least 3 characters
                                long.</small>
                        </div>
                    </div>

                    <!-- Email Field -->
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input formControlName="email" type="email" class="form-control" id="email"
                            placeholder="name@example.com" required />
                        <div *ngIf="f['email'].touched && f['email'].invalid" class="text-danger">
                            <small *ngIf="f['email'].errors?.['required']">Email is required.</small>
                            <small *ngIf="f['email'].errors?.['email']">Please enter a valid email address.</small>
                        </div>
                    </div>

                    <!-- Phone Number Field -->
                    <div class="mb-3">
                        <label for="ph_No" class="form-label">Contact Number</label>
                        <input formControlName="ph_No" type="ph_No" class="form-control" id="ph_No"
                            placeholder="9876543210" required />
                        <div *ngIf="f['ph_No'].touched && f['ph_No'].invalid" class="text-danger">
                            <small *ngIf="f['ph_No'].errors?.['required']">Contact Number is required.</small>
                            <small *ngIf="f['ph_No'].errors?.['pattern']">Please enter a valid 10 digit Number.</small>
                        </div>
                    </div>

                    <!-- Message Field -->
                    <div class="mb-3">
                        <label for="message" class="form-label">Message</label>
                        <textarea formControlName="message" class="form-control" id="message" rows="4"
                            placeholder="Your Message" required></textarea>
                        <div *ngIf="f['message'].touched && f['message'].invalid" class="text-danger">
                            <small *ngIf="f['message'].errors?.['required']">Message is required.</small>
                            <small *ngIf="f['message'].errors?.['minlength']">Message must be at least 10 characters
                                long.</small>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary w-100" style="background-color: #006bde;">Send
                        Message</button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- footer section -->
<!-- <app-footer></app-footer> -->
<!-- footer section -->
