<header class="header_section">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand">
          <span>
            <img src="../../assets/images/ar_logo_high_quality.png" alt="" class="navbar-logo">
            <!-- <img src="../../assets/images/ar_logo.png" alt="" class="navbar-logo"> -->
            <!-- <img src="../../assets/images/ar_logo (3).png" alt=""> -->
          </span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav  ">
            <li class="nav-item active">
              <a class="nav-link" (click)="goToLink('home')">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="goToLink('about')"> About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="goToLink('service')">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="goToLink('why')" >Why Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="goToLink('team')">Team</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#"> <i class="fa fa-user" aria-hidden="true"></i> Login</a>
            </li> -->
            <!-- <form class="form-inline">
              <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form> -->
          </ul>
        </div>
      </nav>
    </div>
  </header>