<section class="info_section layout_padding2">
    <!-- 00bbf0 -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 info_col">
                <div class="info_contact">
                    <h4 style="color: #006bde;">
                        Address
                    </h4>
                    <div class="contact_link_box">
                        <a href="">
                            <i class="fa fa-map-marker" aria-hidden="true" style="color: #006bde;"></i>
                            <span>
                                No 18/46,
                                Bharathi Nagar Main Road, Pallavaram, Chennai, Tamil Nadu 600043,
                                India
                            </span>
                        </a>
                        <a href="tel:+918220617744">
                            <i class="fa fa-phone" aria-hidden="true" style="color: #006bde;"></i>
                            <span>
                                Call +91 8220617744
                            </span>
                        </a>
                        <a href="mailto:saleschennai@aragency.in">
                            <i class="fa fa-envelope" aria-hidden="true" style="color: #006bde;"></i>
                            <span>
                                sales.chennai&#64;aragency.in
                            </span>
                        </a>
                    </div>
                </div>
                <div class="info_social">
                    <a href="https://www.facebook.com" target="_blank">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.twitter.com" target="_blank">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com" target="_blank">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.instagram.com" target="_blank">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 info_col">
                <div class="info_detail">
                    <h4 style="color: #006bde;">
                        Info
                    </h4>
                    <p>
                        AR Agency is dedicated to bridging the gap between manufacturers and customers by sourcing and
                        delivering top-quality products. With a focus on trust, efficiency, and customer satisfaction,
                        we aim to revolutionize the buying and selling experience.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-2 mx-auto info_col">
                <div class="info_link_box">
                    <h4 style="color: #006bde;">
                        Links
                    </h4>
                    <div class="info_links">
                        <a class="nav-links active" (click)="goToLink('home')">
                            Home
                        </a>
                        <a class="nav-links" (click)="goToLink('about')">
                            About
                        </a>
                        <a class="nav-links" (click)="goToLink('service')">
                            Services
                        </a>
                        <a class="nav-links" (click)="goToLink('why')">
                            Why Us
                        </a>
                        <a class="nav-links" (click)="goToLink('team')">
                            Team
                        </a>
                        <!-- <a class="active" href="index.html">
                            Home
                        </a>
                        <a class="" href="about.html">
                            About
                        </a>
                        <a class="" href="service.html">
                            Services
                        </a>
                        <a class="" href="why.html">
                            Why Us
                        </a>
                        <a class="" href="team.html">
                            Team
                        </a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 info_col ">
                <h4 style="color: #006bde;">
                    Subscribe
                </h4>
                <form action="#">
                    <input type="text" placeholder="Enter email" />
                    <button type="submit">
                        Subscribe
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="footer_section">
    <div class="container">
        <p>
            &copy; <span id="displayYear"></span> All Rights Reserved By
            <a href="https://html.design/">AR Agency</a>
        </p>
    </div>
</section>
